# Python virtual environment
project-env

# Python compiled binaries
*/__pycache__
*.pyc
*.egg-info

# Training data
python/data

# Trained classifiers
*.model

# Editor specifics
.vscode
.ipynb_checkpoints

#node modules
node_modules

