@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>You're all setup! Once the model has retrained, the mirror will be able to recognize you!</p>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Welcome to the webpage of the magic mirror. </p>
        <p>Please login with you google account to start adding your info to the mirror </p>
    </div>
}
