@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Now that u are logged in go to Add User info and start adding youre info</p>
        <a class="nav-link text-dark" asp-area="" asp-controller="UserEntry" asp-action="Create">Add User info</a>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Welcome to the webpage of the magic mirror. </p>
        <p>Please login with you google account to start adding your info to the mirror </p>
    </div>
}

@if (ViewBag.verified != null)
{
    <p class="alert-danger">Your email is not verified </p>
}

