/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --font-family-sans-serif: Roboto, 'sans-serif';
}

body {
  font-family: Roboto, 'sans-serif';
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none;
}

h4 {
  font-weight: 400;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

::selection {
  background: #FF9900;
  color: white;
}

/* Provide sufficient contrast against white background */
a {
  color: #000;
}

.a:hover {
  color: #FF9900;
}

.btn-primary {
  font-size: 18px;
  color: #000;
  background-color: #FF9900;
  border-color: #FF9900;
  font-weight: 400;
  text-transform: none;
  padding: 5px 35px;
  position: relative;
}

.btn-primary:hover {
  color: #000;
  background-color: #FF9900;
  border-color: #FF9900;
}

.btn-primary:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background-color: rgba(253, 249, 249, 0.226);
  z-index: 999;
  border-radius: 5px;
  transition: all 0.4s;
  cursor: pointer;
}

.btn-primary:hover:before {
  width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #000;
  background-color: #FF9900;
  border-color: #FF9900;
}

.nav-link {
  text-transform: none;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form-inline {
  height: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Table styles
------------------------------- */
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: initial;
}

.code-block {
  width: 100%;
  background: #eff0f1;
  border-radius: 3px;
  max-height: 600px;
  padding: 12px 16px;
}
